<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="nLogger" type="NLogger.NLoggerSection, NLogger" allowDefinition="Everywhere" allowLocation="true" />
  </configSections>
  <appSettings>
    <add key="LogFile" value="C:\Logs\Log.log"/>
  </appSettings>
  <nLogger logLevel="Error">
    <file path="C:\Logs\Log.log" maxSize="10" maxFiles="3" />
    
  </nLogger>
</configuration>